@charset "utf-8";

/* main */
main {
    margin-bottom: 10vh;
}
.main_area {
    position: relative;
}
.main_area img {
    width: 100%;
}
.main_area .mainblock {display: none;}
.main_area .text_area {
    position: absolute;
    top: 45%; transform: translateY(-50%);
    left: 14%;
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.4;
}
.main_area .more_area {
    position: absolute;
    top: 60%; transform: translateY(-50%);
    left: 14%;
    color: #ccc;
    font-size: 28px;
    font-weight: 500;
}
.main_area .more_area:hover {
    color: #fff;
    transition: all 0.4s;
    padding-left: 5px;
}
.main_area .more_area:hover i {
    padding-left: 20px;
    transition: all 0.4s;
}


/* inner 공통영역 */
.inner {
    text-align: center;
}
.inner > h1 {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 400;
    color: #eb168a;
}
.inner > h2 {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 34px;
}
.inner > h2 strong {
    color: #eb168a;
    font-weight: 700;
}
.inner > h3 {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.4;
}

.inner02 {
    max-width: 1160px;
    margin: 40px auto;
    text-align: left;
}
.inner02 h1 {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 400;
    color: #eb168a;
}
.inner02 h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 34px;
}
.inner02 > h2 strong {
    color: #eb168a;
    font-weight: 700;
}
.inner02 > h3 {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.4;
}

/* 모바일 */
/* 모바일 */
/* 모바일 */
@media screen and (max-width: 431px) {

    /* main */
.main_area {
    position: relative;
}
.main_area img {
    display: none;
}
.main_area .mainblock{
    display: block;
    width: 100%;
    height: 800px;
}
.main_area .text_area {
    position: absolute;
    top: 57%; transform: translateY(-50%);
    left: 14%;
    color: #fff;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    line-height: 1.4;
    text-shadow: 2px 3px 4px rgba(0,0,0,0.6);
}
.main_area .more_area {
    position: absolute;
    top: 66%; transform: translateY(-50%);
    left: 35%;
    color: #ccc;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 2px 3px 4px rgba(0,0,0,0.6);
}
.main_area .more_area:hover {
    color: #fff;
    transition: all 0.4s;
    padding-left: 5px;
}
.main_area .more_area:hover i {
    padding-left: 20px;
    transition: all 0.4s;
}

.inner {
    text-align: center;
}
.inner  h1 {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 400;
    color: #eb168a;
}
.inner  h2 {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 22px;
}
.inner  h2 strong {
    color: #eb168a;
    font-weight: 600;
    font-size: 22px;
}
.inner  h3 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    padding: 0 15px;
    word-break: keep-all;
}

.inner02 {
    max-width: 430px;
    margin: 40px auto;
    text-align: left;
}
.inner02 h1 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 400;
    color: #eb168a;
    padding: 0 6px;
    margin-left: 15px;
}
div.inner02 h2 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 22px;
    word-break: keep-all;
    line-height: 1.6;
    padding: 0 6px;
    margin-left: 15px;
}
.inner02 > h2 strong {
    color: #eb168a;
    font-weight: 700;
    margin-left: 15px;
}
div.inner02 > h3 {
    margin-bottom: 15px;
    word-break: keep-all;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    padding: 6px;
    margin-left: 15px;
}

}