@charset "utf-8";

html,body,h1,h2,h3,h4,h5,h6,p,div,ul,ol,li,dl,dt,dd,blockquote,address,header,nav,section,article,aside,main,footer,figure,figcaption,table,caption,thead,th,tr,td,tbody,tfoot,form,legend,fieldset {margin: 0; padding: 0;}

li {list-style-type: none;}
a {text-decoration: none; color: inherit;}
em,i,address,cite {font-style: normal;}

.blind {
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
    text-indent: -9999px;
}

.clear:before,
.clear:after {
    content: '';
    display: block;
    clear: both;
}