@charset "utf-8";

/* sec_food */
#sec_food {
    background-image: linear-gradient(to top, #f3f3f3 0%, #eeeeee 100%);
    padding-top: 90px;
    height: 70vh;
    width: 100%;
}
.swiper {
    width: 100%;
    overflow: hidden;
}
.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
}
.swiper-slide img {
      display: block;
      width: 620px;
      object-fit: cover;
      border-radius: 10px;
}
/* 모바일 */
/* 모바일 */
/* 모바일 */
@media screen and (max-width: 431px) {
    #sec_food {
        background-image: linear-gradient(to top, #f3f3f3 0%, #eeeeee 100%);
        padding-top: 30px;
        height: 43vh;
        width: 100%;
    }    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
  }  
    .swiper-slide img {
        display: block;
        width: 400px;
        object-fit: cover;
  }
}